# Ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.cache
*.egg-info/
.eggs/


venv/
env/
.venv/
ENV/
.ipynb_checkpoints/
*.nbconvert/
*.nb.tmp
.jupyter/

data_output/**/*
!data_output/README.md   # allow a placeholder
*.csv
*.parquet
*.feather
*.sqlite
*.db

*.log
*.tmp
*.swp
*.bak

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.history/

supabase/.branches
supabase/.temp
supabase/.configs
supabase/migrations/.snapshots/
supabase/.local/

*.env
.env.*
.env.local
.env.development
.env.production
node_modules/
npm-debug.log*
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
